@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@font-face {
  font-family: "myfonts";
  src: url(../Assets/Fonts/Vollkorn-Italic-VariableFont_wght.ttf);
}
p{
  font-family: "myfonts";
  font-weight: 600;
  font-size: 15px;
}
h5{
  font-family: "myfonts";
  font-weight: 600;

}
div{
  font-family: "myfonts";
}
a{
  font-family: "myfonts";
}
td{
  font-family: "myfonts";
  font-weight: 600;
}
span{
  font-family: "myfonts";

}
/* preloader starts */
.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.preloader.deactive {
  opacity: 0;
  z-index: -1;
}

.preloader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #00A499;
}

.preloader .scircle {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background-color: white;
  animation: preloader 1s infinite;
}

@keyframes preloader {
  0% {
    transform: translate(0, -9px);
  }

  25% {
    transform: translate(9px, 0);
  }

  50% {
    transform: translate(0px, 9px);
  }

  75% {
    transform: translate(-9px, 0);
  }

  100% {
    transform: translate(0, -9px);
  }
}

/* preloader ends */
.location{
  width: 100% !important;
}

.find-location p {
  color: black;
  font-size: 40px;
  margin: 0;
  font-weight: 600;
  padding: 95px 0;
}

.find-location p i {
  margin-right: 10px;
  color: #00A499;
}

p {
  font-family: "myfonts";
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}

.carousel-caption {
  bottom: 200px !important;
}

h1 {
  font-size: 90px;
  font-family: "myfonts";
}

p {
  margin-top: 10px;
}

.myspan {
  color: yellow;
  font-family: "myfonts";
}

.mybody {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-image: url(../Assets/Image/pexels-miguel-á-padriñán-19670.jpg);
  background-position: right;
  background-size: cover;
}

.mycontainer {
  height: 115vh;
  max-width: 800px;
  background: #fff;
  width: 800px;
  background: rgba(255, 255, 255, 0.4);
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mycontainer .text {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: #00A499;
  font-family: "myfonts";
}

.mycontainer form {
  padding: 30px 0 0 0;
}

.mycontainer form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  background: rgba(255, 255, 255, -0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
  transform: translateY(-20px);
  font-size: 19px;
  color: #00A499;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  font-family: "myfonts";
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
  transform: scale(1);
}

.submit-btn .input-data {
  overflow: hidden;
  height: 45px !important;
  width: 15% !important;
  border-radius: 40px;

}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: -250px !important; */
}

.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: #00A499;
}

.submit-btn .input-data:hover .inner {
  left: 0;
  background-color: black;
}

.submit-btn .input-data input {
  background: none;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  font-family: "myfonts";
  z-index: 2;
}

@media (max-width: 700px) {
  .mycontainer .text {
    font-size: 30px;
  }

  .mycontainer form {
    padding: 10px 0 0 0;
  }

  .mycontainer form .form-row {
    display: block;
  }

  form .form-row .input-data {
    margin: 35px 0 !important;
  }

  .submit-btn .input-data {
    width: 40% !important;
  }
}

/* nav start */
.bg-light {
  background-color: #f0f0f0 !important;
}

.bgnav {
  background-color: white;
  border: 3px solid #00A499;

}

body {
  position: relative;
  z-index: 1;
}

nav {
  top: 0;
  width: 100%;
  z-index: 10000;
  position: fixed !important;
}

.as {
  color: white;
  text-decoration: none;
  font-family: "myfonts";
  font-size: 19px;
}

.as:hover {
  color: white;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  font-family: "myfonts";
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
}

.dropdown-item {
  font-family: "myfonts";
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: black;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #EEEEEE;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navlink:hover {
  color: #00A499 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: .5s;
}

/* .btn {
background-color: #00A499 !important;
color: white !important;
border: 1px solid #00A499 !important;
border-radius: 29px !important;
font-family: "myfonts";
} */



.btn:hover {
  border: 1px solid #00A499 !important;
  background-color: black !important;
}

.form-control {
  border-radius: 29px !important;
}

.form-control::placeholder {
  font-family: myfonts;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: .5s;
    opacity: 1;
  }
}

.mybtn {
  background-color: #00A499 !important;
  border: 1px solid #00A499 !important;
  border-radius: 23px !important;
}
.location{
  color: #00A499;
  font-family: "myfonts";
}
/* navbarend */
.my-footer {
  background-color: #00A499;
}